---
layout: default
---

<h1>About Me</h1>

<p style="font-size:18px">
    I am a senior undergraduate from Southern University of Science and Technology (SUSTech), majoring in Robotics Engineering and
    supervised by Prof. Wei Zhang.
    I had a great research experience working on legged robot in 
    <a href="https://www.wzhanglab.site/" target="_blank">CLEAR Lab</a>.
</p>

<p style="font-size:18px">
    My research interests lie in control and learning algorithms, 
    with applications in mobile robots locomotion.
</p>

<p style="font-size:18px">
    Currently I am preparing attending the University of Michigan to persue a further study in Robotics.
</p>

<h1>Education</h1>
{% include education.html %}

<h1>Experience</h1>
{% include experience.html %}

<h1 id="pub">Publications</h1>
{% include publications.html %}

<h1 id="pro">Selected Projects</h1>
{% include projects.html %}

<h1 id="hon">Honors and Awards</h1>
{% include awards.html %}

<!-- ! make images in zoom class clikable -->
{% include clickable-image.html %}