---
layout: default
---

<h2>About Me</h2>

<p style="font-size:18px">
  I am a senior undergraduate from Southern University of Science and Technology, majoring in Robotics Engineering and
  advised by Prof. Wei Zhang.
  I had a great research experience working in the wheeled-bipedal robot group of <a
    href="https://www.wzhanglab.site/" target="_blank">CLEAR Lab</a>.</p>

<p style="font-size:18px">
  My research interests lie in Robot Perception and Autonomous Control, especially on vision aided dynamical system
  control using optimization and learning.</p>

<h2>Education</h2>

<table class="experience">
  <tbody>
    <tr>
      <td>
        <img width="50" src="assets/img/sustech_square.png">
      </td>
      <td>
        <font color="black"><b>Southern University of Science and Technology, China</b></font>
        <br>
        Sep 2018 - Jun 2022, Undergraduate in Robotics Engineering
      </td>
    </tr>
  </tbody>
</table>

<h2>Experience</h2>

{% include experience.html %}

<h2>Publications</h2>

{% include publications.html %}

<h2>Selected Projects</h2>

{% include projects.html %}

<h2>Honors and Awards</h2>

<ul style="font-size:18px">
  <li>
    <i>2020 -- 2021</i>: Top Ten Volunteers of University
  </li>
  <li>
    <i>2019 -- 2020</i>: The First Class of the Merit Student Scholarship
  </li>
  <li>
    <i>2019 -- 2020</i>: Outstanding Student Leaders of University
  </li>
  <li>
    <i>2018 -- 2019</i>: The Second Class of the Merit Student Scholarship
  </li>
</ul>