<table class="experience">
  <tbody>
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>--</b></font>
        <br>
        --
      </td>
    </tr>
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>Sharif University Of Technology</b></font>
        <br>
        Sep. 2023 - Sep 2025, M.Sc. in Mechanical Engineering (Major GPA 4/4)
      </td>
    </tr>
    <tr>
      <td>
        <img width="50" src="assets/img/sustech_square.png">
      </td>
      <td>
        <font color="black"><b>Sharif University Of Technology</b></font>
        <br>
        Sep. 2018 - Sep 2023, B.Sc. in Mechanical Engineering (Major GPA 3.98/4)
      </td>
    </tr>
  </tbody>
</table>

