<table class="experience">
  <tbody>
    <tr>
      <td>
        <img width="50" src="assets/img/logo-square-nus.jpg">
      </td>
      <td>
        <font color="black"><b>National University of Singapore, Singapore</b></font>
        <br>
        Aug 2021 - Present, Visiting Student
      </td>
    </tr>

    <tr>
      <td>
        <img width="50" src="assets/img/Tsinghua.png">
      </td>
      <td>
        <font color="black"><b>Tsinghua University, China</b></font>
        <br>
        Jun 2021 - Jul 2021, Research Intern
      </td>
    </tr>

    <tr>
      <td>
        <img width="50" src="assets/img/logo-nd-square.png">
      </td>
      <td>
        <font color="black"><b>University of Notre Dame, U.S.</b></font>
        <br>
        Jun 2020 - Jul 2020, Research Intern
      </td>
    </tr>
  </tbody>
</table>