<table class="experience">
  <tbody>
    <!-- !UMich -->
    <tr>
      <td>
        <img width="50" src="assets/img/fasta-robotics-logo.png">
      </td>
      <td>
        <font color="black"><b>Control Engineer</b></font>
        <br>
        Sep 2025 - Present, Fasta Robotics
      </td>
    </tr>
    <!-- !PlusAI -->
    <!-- !NUS -->
    <!-- <tr>
      <td>
        <img width="50" src="assets/img/NUS_logo.png">
      </td>
      <td>
        <font color="black"><b>Visiting Student</b></font>
        <br>
        Aug. 2021 - Sep. 2021, National University of Singapore, Singapore
      </td>
    </tr> -->
    <!-- !THU -->
    <tr>
      <td>
        <img width="50" src="assets/img/sharif-logo.png">
      </td>
      <td>
        <font color="black"><b>Graduate Student Research Assistant</b></font>
        <br>
        Sep. 2023 - Sep. 2025, Sharif University Of Technology
      </td>
    </tr>
    <tr>
      <td>
        <img width="50" src="assets/img/vive-logo.png">
      </td>
      <td>
        <font color="black"><b>Robotics Engineer Intern</b></font>
        <br>
        July 2022 - Sep. 2022, Vive Tennis 
      </td>
    </tr>
    <!-- !ND -->
    <!-- <tr>
      <td>
        <img width="50" src="assets/img/logo-nd-square.png">
      </td>
      <td>
        <font color="black"><b>University of Notre Dame, US</b></font>
        <br>
        Jun 2020 - Aug 2020, Research Intern
      </td>
    </tr> -->
  </tbody>
</table>
