<table class="experience">
  <tbody>
    <!-- !NUS -->
    <tr>
      <td>
        <img height="50" src="assets/img/NUS_logo.png">
      </td>
      <td>
        <font color="black"><b>National University of Singapore, Singapore</b></font>
        <br>
        Aug 2021 - Sep 2021, Visiting Student
      </td>
    </tr>
    <!-- !THU -->
    <tr>
      <td>
        <img width="50" src="assets/img/Tsinghua-min.png">
      </td>
      <td>
        <font color="black"><b>Tsinghua University, China</b></font>
        <br>
        Jun 2021 - Jul 2021, Research Intern
      </td>
    </tr>
    <!-- !ND -->
    <tr>
      <td>
        <img width="50" src="assets/img/logo-nd-square.png">
      </td>
      <td>
        <font color="black"><b>University of Notre Dame, U.S.</b></font>
        <br>
        Jun 2020 - Jul 2020, Research Intern
      </td>
    </tr>
  </tbody>
</table>