<div class="icon-links">
    <div class="sub-link">
        <i class="far fa-file-pdf fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="{{ site.url_cv }}">[CV]</a>
    </div>
</div>
<div class="icon-links">
    <div class="sub-link">
        <i class="fas fa-envelope-square fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="mailto:{{ site.url_email }}">{{site.url_email}}</a>
    </div>
</div><div class="icon-links">
    <div class="sub-link">
        <i class="fab fa-linkedin fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="{{ site.url_linkedin }}">yulun-arno-zhuang</a>
    </div>
</div><div class="icon-links">
    <div class="sub-link">
        <i class="fab fa-github-square fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="{{ site.url_github }}">silvery107</a>
    </div>
</div>
