<table class="jump_link">
    <tr>
        <td></td>
        <td>
            <a href="#pub" class="jump_link">
                <button class="button">Publications</button>
            </a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="#pro" class="jump_link">
                <button class="button">Selected Projects</button>
            </a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="#hon" class="jump_link">
                <button class="button">Honors and Awards</button>
            </a>
        </td>
        <td></td>
    </tr>
</table>

<div class="icon-links">
    <div class="sub-link">
        <i class="far fa-file-pdf fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="{{ site.url_cv }}" target="_blank">[CV]</a>
    </div>
</div>
<div class="icon-links">
    <div class="sub-link">
        <i class="fab fa-github-square fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="{{ site.url_github }}" target="_blank">silvery107</a>
    </div>
</div>
<div class="icon-links">
    <div class="sub-link">
        <i class="fab fa-linkedin fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="{{ site.url_linkedin }}" target="_blank">yulun-arno-zhuang</a>
    </div>
</div>
<div class="icon-links">
    <div class="sub-link">
        <i class="fas fa-envelope-square fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="mailto:{{ site.url_email }}" target="_blank">{{site.url_email}}</a>
    </div>
</div>