<!-- Navigation Buttons -->
<table class="jump_link">
	<tbody>
		<tr>
			<td>
				<a href="#pub" class="jump_link">
					<button class="button">Publications</button>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#pro" class="jump_link">
					<button class="button">Highlight Projects</button>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#hon" class="jump_link">
					<button class="button">Honors & Awards</button>
				</a>
			</td>
		</tr>
	</tbody>
</table>

<!-- Media Links with Logo -->
<!-- ! CV -->
<div class="icon-links">
    <div class="sub-link">
        <i class="far fa-file-pdf fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        [<a href="{{ site.url_cv | default: site.url}}" target="_blank">CV</a>]
    </div>
</div>
<!-- ! Github -->
<div class="icon-links">
    <div class="sub-link">
        <i class="fab fa-github-square fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="{{ site.url_github }}" target="_blank">silvery107</a>
    </div>
</div>
<!-- ! LinkedIn -->
<div class="icon-links">
    <div class="sub-link">
        <i class="fab fa-linkedin fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="{{ site.url_linkedin }}" target="_blank">yulun107</a>
    </div>
</div>
<!-- ! Email -->
<div class="icon-links">
    <div class="sub-link">
        <i class="fas fa-envelope-square fa-2x fa-fw"></i>
    </div>
    <div class="sub-link">
        <a href="mailto:{{ site.url_email }}" target="_blank">{{site.url_email}}</a>
    </div>
</div>