<table class="projects">
  <tbody>
    <!-- NMT with Transformer on Multi30K -->
    <tr>
      <td>
        <img src=https://raw.githubusercontent.com/silvery107/nmt-multi30k-pytorch/main/images/tuning.png width="300">
      </td>
      <td valign="top" align="left">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>NMT with Transformer on Multi30K</b></font>
        </p>
        <p>
          [<a href="https://github.com/silvery107/nmt-multi30k-pytorch" target="_blank">
            Code
          </a>]
          <br>
          Implemented a Transformer architecture to realize a full attention neural network that learns to
          translate German to English. The best model gains a BLEU score up to 37.39, when the minimum
          frequency of words is selected to be 3.
        </p>
      </td>
    </tr>
    <!-- Tractor Autonomous Steering Simulation -->
    <tr>
      <td>
        <img src=https://raw.githubusercontent.com/silvery107/ND-agjunction-webots/main/docs/images/tractor_proto.png
          width="300">
      </td>
      <td valign="top" align="left">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Tractor Autonomous Steering Simulation</b></font>
        </p>
        <p>
          [<a href="https://github.com/silvery107/ND-agjunction-webots" target="_blank">
            Code
          </a>]
          <br>
          Developed a medium-fidelity model of two tractors in Webots and implemented the tractor model and
          the control
          algorithm in Webots, including four-wheel steering capability, body suspension and sensors.
          This project is collaborated with SUSTech, ND and AgJunction Inc.
        </p>
      </td>
    </tr>
    <!-- Segway Locomotion -->
    <tr>
      <td>
        <img src=https://raw.githubusercontent.com/silvery107/segway-locomotion-stm32/main/images/image2.png
          width="300">
      </td>
      <td valign="top" align="left">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Segway Locomotion</b></font>
        </p>
        <p>
          [<a href="https://github.com/silvery107/segway-locomotion-stm32" target="_blank">
            Code
          </a>]
          [<a href="https://github.com/silvery107/segway-locomotion-stm32/raw/main/images/blancing.mp4" target="_blank">
            Video
          </a>]
          <br>
          This project is the locomotion control for a Segway robot with STM32F1.
          We implemented balance control, speed control, steering control method for the Segway robot
          together with the Bluetooth debugging function.
        </p>
      </td>
    </tr>
    <!-- HCI Gesture Control -->
    <tr>
      <td>
        <img src=https://raw.githubusercontent.com/silvery107/hci-gesture-control/main/images/demo.png width="300">
      </td>
      <td valign="top" align="left">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>HCI Gesture Control</b></font>
        </p>
        <p>
          [<a href="https://github.com/silvery107/hci-gesture-control" target="_blank">
            Code
          </a>]
          [<a href="https://github.com/silvery107/hci-gesture-control/raw/main/videos/demo.mp4" target="_blank">
            Video
          </a>]
          <br>
          Used the watershed algorithm to realize skin color image segmentation, implemented gesture
          recognition
          by template matching, and implemented the gesture interaction with mouse and keyboard based on
          <em>Win32
            API</em>.
        </p>
      </td>
    </tr>
    <!-- Fast Photo Mosaic -->
    <tr>
      <td style="border: none;">
        <img src=https://github.com/silvery107/fast-photo-mosaic/raw/main/images/mixed.png width="300">
      </td>
      <td valign="top" align="left" style="border: none;">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Fast Photo Mosaic</b></font>
        </p>
        <p>
          [<a href="https://github.com/silvery107/fast-photo-mosaic" target="_blank">
            Code
          </a>]
          <br>
          Designed a feature descriptor based on the mean histogram of the LAB color space, used the
          pre-computed feature pool to optimize the synthesis speed, and realized the mosaic photo that has
          better performance than Foto-Mosaik-Edda.
        </p>
      </td>
    </tr>
  </tbody>
</table>