<table class="projects">
  <tbody>
   <!-- ! Quadruped Locomotion -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/IsaacHospitalLocomotion.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Real-Time Quadruped Locomotion Stack</b></font>
        </p>
        <p>
          <br>
         Designed and implemented a real-time C++ control framework for our custom-designed quadruped locomotion, integrating nonlinear MPC, state estimation, contact estimation, and whole-body control. Demonstrated in Nvidia Isaac Sim; hardware deployment is underway.
        </p>
      </div>
    </td></tr>


  
  <tbody>
   <!-- ! probabilistic Force estimation -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/force prediction gif1.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Probabilistic Force Estimation and Contact Detection for Quadrupedal Robot Locomotion</b></font>
        </p>
        <p>
          [<a href="docs/Probabilstic force estimation.pdf" target="_blank">
            PDF
          </a>]
          [<a href="https://github.com/FastaQuadruped/Probabilsitc-Force-Estimation-and-Contact-Detection-for-Quadrupedal-Robot-Locomotion" target="_blank">
            Github
          </a>]
          <br>
         Probabilistic framework for contact detection and external force estimation in quadruped locomotion using an Interacting Multiple-Model Kalman Filter with a time-varying transition probability matrix.
        </p>
      </div>
    </td></tr>
    
    <!-- ! MPC quadruped -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/go2-demo.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Developing MPC for Quadruped Locomotion</b></font>
        </p>
        <p>

          <br>
          Implementing an MPC Controller for Quadruped Locomotion.<br>
          Developed a Model Predictive Control (MPC) controller for quadruped robot locomotion (Go2 robot) in the NVIDIA Isaac Simulator. 
          The controller is based on the paper 
          <a href="https://dspace.mit.edu/bitstream/handle/1721.1/138000/convex_mpc_2fix.pdf" target="_blank">
            “Convex Model Predictive Control for Quadrupedal Locomotion”
          </a>
          and enables stable, dynamic gait generation in simulation.
        </p>
      </div>
    </td></tr>
    
    <!-- ! single leg jumping -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/singleleg-demo.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>SLIP Controller For Single Leg Jumping With Energy Compensation Approach</b></font>
        </p>
        <p>
          [<a href="docs/singleleg.pdf" target="_blank">
            PDF
          </a>]
          <br>
          Developed a controller for single-leg jumping using a variable-stiffness spring and Bézier-based trajectory planning. The method compensates for energy losses due to friction, enabling stable and repeated jumps.
        </p>
      </div>
    </td></tr>
   
    <!-- ! PID propreller -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/mechat-demo.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>PID Controller for a 1 DOF system </b></font>
        </p>
        <p>
          [<a href="docs/1DOF.pdf" target="_blank">
            PDF
          </a>]
          <br>
          Simulation, modeling, and control of a 1-DOF propeller-driven system using MATLAB/Simscape, including data-driven thrust and PWM modeling and discrete PID control design.
        </p>
      </div>
    </td></tr>
  
  </tbody>
</table>
