<p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>Height Control and Optimal Torque Planning for Jumping With Wheeled-Bipedal Robots</b>
    </font>
    <br>
    <i>International Conference on Advanced Robotics and Mechatronics</i>. IEEE. 2021
    <br>
    <b>Y. Zhuang</b>*, Y. Xu*, B. Huang*, M. Chao, G. Shi, X. Yang, K. Zhang, C. Fu
</p>
<table class="projects">
    <tbody>
        <tr>
            <td>
                <img src="assets/img/ARM2021.jpg" width="300">
            </td>
            <td>
                [<a href="https://github.com/silvery107/wheeled-bipedal-jumping" target="_blank">
                    Code
                </a>]
                [<a href="assets/img/ARM2021_Video.mp4" target="_blank">
                    Video
                </a>]
                [<a href="docs/ARM21_0178.pdf" target="_blank">
                    PDF
                </a>]
                <br>
                <p>
                    We establish a wheeled-bipedal jumping dynamical (W-JBD) model to optimize the height control,
                    and the Bayesian optimization for torque planning (BOTP) method based on a joint
                    optimization framework for torque planning to achieve accurate height control and minimal energy
                    cost.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>Connecting Structure and Multi-Hull Ship</b>
    </font>
    <br>
    <i>China Patent CN212637810U</i>. Mar. 2021
    <br>
    <b>Y. Zhuang</b>, W.Zhang, B.Wang, T.Ren, H.Chen
</p>
<table class="projects">
    <tbody>
        <tr>
            <td style="border: none;">
                <img src="assets/img/ship_patent.png" width="300">
            </td>
            <td style="border: none;">
                [<a href="https://patents.google.com/patent/CN212637810U/zh?oq=CN212637810U" target="_blank">
                    PDF
                </a>]
                <br>
                <p>
                    This utility model provides a connection structure is simpler, and manufacturing cost is lower for
                    easy to operate when hull connection can reduce hull connection's the degree of difficulty.
                </p>
            </td>
        </tr>
    </tbody>
</table>