<ul>
    <li style="font-size:18px">
        <a href="docs/ARM21_0178.pdf" target="_blank">Height Control and Optimal Torque Planning for Jumping With Wheeled-Bipedal
            Robots</a>
        , <i><b>ICARM</b>, 2021</i>
    </li>
    <p style="font-size:16px">
        <b>Y. Zhuang</b>*, Y. Xu*, B. Huang*, M. Chao, G. Shi, X. Yang, K. Zhang, C. Fu
    </p>
    <li style="font-size:18px">
        <a href="https://patents.google.com/patent/CN212637810U/zh?oq=CN212637810U" target="_blank">Connecting Structure and Multi-Hull
            Ship</a>
        , <i>China Patent <b>CN212637810U</b>, Mar. 2, 2021</i>
    </li>
    <p style="font-size:16px">
        <b>Y. Zhuang</b>, W.Zhang, B.Wang, T.Ren, H.Chen
    </p>
</ul>