<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<!-- ! Don't use autoformat in this page -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  
  <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">

  {% include head-custom.html %}
  
</head>

<body>

  <div class="wrapper">
    <header>
      <h1>{{ site.title | default: site.github.repository_name }}</a></h1>

      {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" width="200" />
      {% endif %}

      <p>{{ site.description | default: site.github.project_tagline }}</p>

      {% include header-custom.html %}

    </header>
    <section>

      {{ content }}

    </section>
    <footer>
      {% include footer.html %}
    </footer>
  </div>

  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  <script type="text/javascript" color="0,0,0" opacity='0.7' zIndex="-2" count="99" src="../assets/js/canvas_nest.js"></script>
</body>

</html>